* {
    padding: 0px;
    margin: 3px;
    text-decoration: none;
}

ul li {
    list-style: none;
}

/*font-family: 'Abril Fatface', cursive;
font-family: 'Aoboshi One', serif;
font-family: 'Bree Serif', serif;
font-family: 'Croissant One', cursive;
font-family: 'Suwannaphum', serif;*/

/*header*/

header {
    font-family: 'Bree Serif', serif;
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    width: auto;
    height: 500px;
}

/*barra de navegacion*/

.navlist {
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navlist li a {
    color: #ffffff;
    background-color: #9a190255;
    padding: 20px;
    display: block;
    text-decoration: none;
}

.navlist>li {
    float: left;
}

.navlist li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.navlist li:hover>ul {
    display: block;
}
/* imagenes del index */
.header{
    background-image: url(../Img/img-header-bodegasj.jpg);
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.img-portada-sanjuan {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 1000px;
    height: 500px;

}

/*quienes somos*/
.section-nosotros{
    margin-top: 80px;
    height: 1000px;
    background-image: url(../Img/img.descripcion.index.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    
}

.conteniner-title-secnosotros{
    background-color: rgba(165, 42, 42, 0.512);
    width: 400px;
    height: 300px;
    color: #ffffff;
    position:relative;
    top: 10px;
    left: 5px;
    

}

.conteniner-title-secnosotros .title-section-nosotros{
    font-family:'Abril Fatface' ;
    font-size:40px ;
    padding: 10px;
    display: flex;
justify-content: center;
}



/* secccion bodegas acociadas*/

h2 {
    font-family: 'Aoboshi One';
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px
}

/*carrusel bodegas asociadas*/
.logobodega {
    width: 250px;
    height: auto;
    margin: 15px;
    border-radius: 80px;
    
}
.logobodega:hover{
transform: rotate(10deg);
}
.carrusel-logobodegas {
    background-color: #785218;
}


/* card vinos */
h3 {
    font-family: 'Suwannaphum';
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.container-card-vinos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row: repeat(1, 1fr);


}

.imgcard {
    width: 300px;
    height: 500px;

}