* {
    padding: 0px;
    margin: 3px;
    text-decoration: none;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    margin: 10px;

}


.container-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgvino {
    height: 340px;
    width: 340px;
}

.containerProd {
    padding: 20px;
    border: 2px solid #c86100;
}

.logobodegas {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.logobodegas:hover{
    transform:rotate3d(2, 2, 2, 30deg);
}
.container-logos {
    background-color: #c86100;
}

.restar {
    cursor: pointer;
}

.sumar {
    cursor: pointer;
}
.link-product{
    cursor: pointer;
}

.container-sub-titulo{
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c86100;
}