* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

ul li {
    list-style: none;
}

/*font-family: 'Abril Fatface', cursive;
font-family: 'Aoboshi One', serif;
font-family: 'Bree Serif', serif;
font-family: 'Croissant One', cursive;
font-family: 'Suwannaphum', serif;*/

/*header*/

header {
    font-family: 'Bree Serif', serif;
    font-size: 20px;
    background-color:#9a1902cb ;

}

/*barra de navegacion*/

.navlist {
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navlist li a {
    color: #ffffff;
    background-color:#9a190255 ;
    padding: 20px;
    display: block;
    text-decoration: none;
}

.navlist>li {
    float: left;
}

.navlist li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.navlist li:hover>ul {
    display: block;
}


/* img de portada */

.img-portada {
    display: flex;
    justify-content: center;

}

.img-portada-sanjuan {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 1000px;
    height: 500px;
    
}
/*quienes somos*/


.section-nosotros .descripcion-nosotros {
font-size: 50px;
font-family: 'Abril Fatface';
padding: 10px;
margin: 30px;
}

.img-sectionnosotros{
    width: 100vw;
    height: 1000px;
}

/* secccion bodegas acociadas*/

h2{
    font-family: 'Aoboshi One';
    font-size: 30px;
display: flex;
    align-items: center;
    justify-content: center;
    margin:10px
}

/*carrusel bodegas asociadas*/
.logobodega{
    width: 280px;
    height: auto;
    margin: 15px;
    border-radius: 80px;

}
.carrusel-logobodegas{
    background-color: #785218;
}

/* card vinos */
h3{
    font-family:'Suwannaphum' ;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.container-card-vinos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row: repeat(1,1fr);
    

}
.imgcard{
    width: 300px;
    height: 500px;

}